<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to home_path do %>          
            <img class="img-responsive" href="#" src="http://res.cloudinary.com/lawless/image/upload/v1499071949/amegan/logo_cabecera.png" alt="header-logo">
          <% end %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">            
            <li><%= link_to "ABOUT US" %></li> 
            <li><%= link_to "INVESTMENT FOCUS", secrets_index_path %></li>
            <li><%= link_to "PORTFOLIO" %></li> 
            <li><%= link_to "NEWS" %></li> 
            <li><%= link_to "CONTACT US" %></li>            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><img class="img-responsive" src="http://res.cloudinary.com/lawless/image/upload/v1499071949/amegan/linkedin.png" alt="linkedin"></li> 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>